<div class="p-grid">
    <div class="p-col-1"></div>
    <div class="p-col">
        <p-table [columns]="cols" [value]="professors" selectionMode="single" [(selection)]="selectedProfessor" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="20">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        <div *ngIf="col.field!=='courses'">{{rowData[col.field]}}</div>
                        <div *ngIf="col.field==='courses'">
                            <div *ngFor="let c of rowData[col.field]">
                               {{c.name}}
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
                <ng-template pTemplate="summary" let-rowData *ngIf="!overview">
                    <div style="text-align:left">
                        <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
                    </div>
                </ng-template>
        </p-table>
    </div>
    <div class="p-col-1"></div>
</div>

<p-dialog header="Professor Details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
    <div class="p-grid ui-fluid" *ngIf="professor">
        <div class="p-col-4">
            <label for="name">Name</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="name" [(ngModel)]="professor.name" />
        </div>
        <div class="p-col-4">
            <label for="courses">Courses</label>
        </div>
        <div class="p-col-8">
            <p-multiSelect [options]="courses" [(ngModel)]="professor.courses" [filter]="false" optionLabel="name">
                <ng-template let-value pTemplate="selectedItems">
                    <div *ngFor="let val of value" class="ui-multiselected-item-tokenl ui-corner-all">
                        <span>{{val.name}}</span>
                    </div>
                    <span *ngIf="!value || value.length === 0" class="ui-multiselected-empty-token ui-corner-all">Choose</span>
                </ng-template>
                <ng-template let-c pTemplate="item">
                    <div style="font-size:14px;float:right;margin-top:4px">{{c.label}}</div>
                </ng-template>
            </p-multiSelect>
         <!-- <input pInputText id="corses" [(ngModel)]="student.corses" /> -->
    </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
